/**
 * Wraps any styles in a retina media query.
 */
/**
 * Wraps any styles in a retina media query.
 */
/**
 * Option variable to define the spacing between images in the generated sprite
 */
                                                                    /**
* A mixin to create retina sprites with hover & active states
*
* You have to register a pair of sprites using `{@link #retina-sprite-add}` and then you can use this mixin:
* 
*     @include retina-sprite-add(icons, "icons/*.png", "icons-retina/*.png");
*
*     .my-icon {
*       @include retina-sprite(icon-name, icons);
*     }
* 
* @param {String} $name
* @param {String} [$sprite-name]
* @param {Boolean} [$hover=false]
* @param {Boolean} [$active=false]
*/
/**
 * @param {String} $name
 * @param {String} $path
 * @param {String} $path2x
 */
/**
 * Wraps any styles in a retina media query.
 */
/**
 * Mixin for retina backgrounds where you can't use a sprite.
 * 
 * - Make sure you have a file@2x.png file additional to your file.png.
 * - The mixin prepends $imgPath, which should be set globally at some point. Default is: "img/"
 *
 * Examples:
 *     li {
 *       @include retina-background(arrow, no-repeat 10px 15px)
 *     }
 *     
 *     a.external {
 *       @include retina-background(external, no-repeat right)
 *     }
 * 
 * @param {String} $file Path to file relative to images folder defined in config.rb and without a file extension
 * @param {Object} [$attr] Additional attributes like position or repetition. E.g. `no-repeat top right`
 * @param {String} [$type] The file type.
 */
/* Extra small devices (phones, less than 768px) */
/* line 3, ../scss/helpers/_elements.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/helpers/_elements.scss */
html {
  height: 100%;
}

/* line 13, ../scss/helpers/_elements.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #f0f0f0;
  color: #5d5d5d;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 23, ../scss/helpers/_elements.scss */
body h1, body h2, body h3, body h4 {
  color: #02344a;
}
/* line 27, ../scss/helpers/_elements.scss */
body a {
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  color: #0063a9;
}
/* line 30, ../scss/helpers/_elements.scss */
body a:hover {
  color: #004576;
  text-decoration: underline;
}
/* line 36, ../scss/helpers/_elements.scss */
body p {
  line-height: 20px;
}
/* line 38, ../scss/helpers/_elements.scss */
body p.content-icon-spacing {
  padding-left: 55px;
}
/* line 42, ../scss/helpers/_elements.scss */
body hr.dotted {
  background-image: url("../img/border-gray.png");
  background-position: left center;
  background-repeat: no-repeat;
  border: 0px;
  height: 1px;
}
/* line 53, ../scss/helpers/_elements.scss */
body ul.dotted li {
  color: #02344a;
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 20px;
}
/* line 54, ../scss/helpers/_elements.scss */
body ul.dotted li .inner {
  color: #313131;
}
/* line 55, ../scss/helpers/_elements.scss */
body ul.dotted li .inner strong {
  color: #1b1b1b;
}
/* line 62, ../scss/helpers/_elements.scss */
body img {
  max-width: 100%;
}
/* line 67, ../scss/helpers/_elements.scss */
body .alternative-font {
  font-family: "Shadows Into Light", cursive;
}
/* line 72, ../scss/helpers/_elements.scss */
body .btn {
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-image: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  background-color: #0063a9;
  background-image: url("../img/arrows/arrow-right-white.png");
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 8px 11px;
  border: 0px;
  padding: 7px 30px 7px 15px;
}
/* line 18, ../scss/helpers/_mixins.scss */
body .btn:hover, body .btn:active, body .btn:focus {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 72, ../scss/helpers/_elements.scss */
  body .btn {
    background-image: url("../img/arrows/arrow-right-white@2x.png");
  }
}
/* line 28, ../scss/helpers/_mixins.scss */
body .btn:hover {
  background-color: #00548f;
}
/* line 32, ../scss/helpers/_mixins.scss */
body .btn a {
  color: white;
}
/* line 76, ../scss/helpers/_elements.scss */
body #wrapper-outer {
  height: 100%;
}
/* line 77, ../scss/helpers/_elements.scss */
body #wrapper-outer #wrapper {
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
/* line 78, ../scss/helpers/_elements.scss */
body #wrapper-outer #wrapper #wrapper-inner {
  display: table-row;
  height: 100%;
}
/* line 79, ../scss/helpers/_elements.scss */
body #wrapper-outer #wrapper #footer-wrapper {
  display: table-row;
  height: 1px;
}

@media (min-width: 980px) {
  /* line 85, ../scss/helpers/_elements.scss */
  body {
    padding-top: 0px;
  }
}
@media (max-width: 979px) {
  /* line 93, ../scss/helpers/_elements.scss */
  body.nav-open #wrapper-outer {
    overflow-x: hidden;
  }
  /* line 94, ../scss/helpers/_elements.scss */
  body.nav-open #wrapper-outer #wrapper {
    left: 70%;
  }
}
/* line 99, ../scss/helpers/_elements.scss */
#content {
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  /* line 103, ../scss/helpers/_elements.scss */
  #content #main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  /* line 110, ../scss/helpers/_elements.scss */
  h1.page-header, h2.page-header {
    font-size: 24px;
  }

  /* line 111, ../scss/helpers/_elements.scss */
  h2 {
    font-size: 24px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Extra small devices (phones, less than 768px) */
/* line 2, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper {
  background-color: #8ebc11;
  border-bottom: 1px solid transparent;
}
/* line 6, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .breadcrumb {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}
/* line 12, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .breadcrumb li {
  text-shadow: none;
  color: white;
  font-size: 12px;
}
/* line 17, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .breadcrumb li a {
  text-shadow: none;
  color: white;
  display: inline-block;
  padding: 3px 5px;
}
/* line 24, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .breadcrumb li .divider {
  text-shadow: none;
  color: white;
}
/* line 32, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .user ul {
  margin: 0px;
}
/* line 36, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .user ul li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-right: 1px solid white;
  color: white;
  font-size: 12px;
  margin-top: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
}
/* line 45, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .user ul li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
/* line 52, ../scss/helpers/_breadcrumb.scss */
.breadcrumb-wrapper .user ul li:last-child a {
  border-right: 0px;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Extra small devices (phones, less than 768px) */
/* line 4, ../scss/helpers/_header.scss */
#header-wrapper {
  background-color: white;
}
/* line 7, ../scss/helpers/_header.scss */
#header-wrapper .navbar {
  margin-bottom: 10px;
}
/* line 10, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-image: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0px;
  height: 80px;
  padding: 0px;
}
/* line 22, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper #btn-nav {
  float: left;
  margin-top: 40px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  font-size: 30px;
  color: #0063a9;
}
/* line 32, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .logo {
  float: left;
  margin-top: 10px;
}
/* line 36, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .logo a {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/img/../img/logo/logo-groupe.png?1391539273') no-repeat;
  width: 200px;
  height: 75px;
}
/* line 41, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .site-slogan {
  color: #b5b5b5;
  margin-top: 30px;
  margin-left: 15px;
}
/* line 46, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .site-slogan div {
  border-left: 2px solid #b5b5b5;
  display: inline-block;
  padding-left: 20px;
  width: 150px;
}
/* line 55, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .site-slogan div a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #0063a9;
  padding: 2px 5px;
  margin: 5px 0;
  display: block;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_unstyled-link.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .site-slogan div a:active, #header-wrapper .navbar .navbar-inner .logo-wrapper .site-slogan div a:focus {
  outline: none;
}
/* line 64, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .logo-wrapper .site-slogan div a:hover {
  color: black;
}
/* line 76, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  color: #9a9a9a;
  font-size: 18px;
  padding-bottom: 20px;
}
/* line 82, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li label {
  padding: 0px 5px;
}
/* line 86, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li a {
  color: #9a9a9a;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_unstyled-link.scss */
#header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li a:active, #header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li a:focus {
  outline: none;
}
/* line 92, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li.phone i {
  display: inline-block;
  background-image: url('/img/sprites/icons-sb1854544ea.png');
  background-position: 0 -238px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
  float: left;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 92, ../scss/helpers/_header.scss */
  #header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li.phone i {
    background-image: url('/img/sprites-retina/icons-s9ed4fcac31.png');
    -moz-background-size: 32px auto;
    -o-background-size: 32px auto;
    -webkit-background-size: 32px auto;
    background-size: 32px auto;
    background-position: 0 -238px;
  }
}
/* line 97, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li.email i {
  display: inline-block;
  background-image: url('/img/sprites/icons-sb1854544ea.png');
  background-position: 0 -68px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
  float: left;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 97, ../scss/helpers/_header.scss */
  #header-wrapper .navbar .navbar-inner .info-wrapper ul.contact li.email i {
    background-image: url('/img/sprites-retina/icons-s9ed4fcac31.png');
    -moz-background-size: 32px auto;
    -o-background-size: 32px auto;
    -webkit-background-size: 32px auto;
    background-size: 32px auto;
    background-position: 0 -68px;
  }
}
/* line 105, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .extra-wrapper {
  padding-top: 25px;
}
/* line 108, ../scss/helpers/_header.scss */
#header-wrapper .navbar .navbar-inner .extra-wrapper a {
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-image: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  background-color: #f29400;
  background-image: url("../img/arrows/arrow-right-white.png");
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 8px 11px;
  border: 0px;
  padding: 7px 30px 7px 15px;
  margin-top: 35px;
}
/* line 18, ../scss/helpers/_mixins.scss */
#header-wrapper .navbar .navbar-inner .extra-wrapper a:hover, #header-wrapper .navbar .navbar-inner .extra-wrapper a:active, #header-wrapper .navbar .navbar-inner .extra-wrapper a:focus {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 108, ../scss/helpers/_header.scss */
  #header-wrapper .navbar .navbar-inner .extra-wrapper a {
    background-image: url("../img/arrows/arrow-right-white@2x.png");
  }
}
/* line 28, ../scss/helpers/_mixins.scss */
#header-wrapper .navbar .navbar-inner .extra-wrapper a:hover {
  background-color: #d88400;
}
/* line 32, ../scss/helpers/_mixins.scss */
#header-wrapper .navbar .navbar-inner .extra-wrapper a a {
  color: white;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 131, ../scss/helpers/_header.scss */
  #header-wrapper .navbar .navbar-inner .logo-wrapper .logo {
    margin-top: 10px;
    padding: 10px 30px 0px 0;
  }
  /* line 135, ../scss/helpers/_header.scss */
  #header-wrapper .navbar .navbar-inner .logo-wrapper .logo a {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    border: 0;
    background-color: transparent;
    display: block;
    background: transparent url('/img/../img/logo/logo-groupe.medium.png?1391539273') no-repeat;
    width: 230px;
    height: 110px;
  }
  /* line 145, ../scss/helpers/_header.scss */
  #header-wrapper .info-wrapper ul.contact {
    padding: 30px 0px 0px;
  }
  /* line 148, ../scss/helpers/_header.scss */
  #header-wrapper .info-wrapper ul.contact li {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Extra small devices (phones, less than 768px) */
/* line 2, ../scss/helpers/_navigation.scss */
#navigation-wrapper {
  background-color: #0063a9;
}

/* line 6, ../scss/helpers/_navigation.scss */
.navigation {
  height: 100%;
  left: -70%;
  width: 70%;
  position: absolute;
  top: 0;
}
/* line 14, ../scss/helpers/_navigation.scss */
.navigation .nav {
  display: block;
  background-color: #0063a9;
}
/* line 18, ../scss/helpers/_navigation.scss */
.navigation .nav li {
  display: block;
  text-align: right;
}
/* line 22, ../scss/helpers/_navigation.scss */
.navigation .nav li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 30px;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: white;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_unstyled-link.scss */
.navigation .nav li a:active, .navigation .nav li a:focus {
  outline: none;
}
/* line 30, ../scss/helpers/_navigation.scss */
.navigation .nav li a:hover {
  color: #009ee0;
  background-color: #0063a9;
}
/* line 36, ../scss/helpers/_navigation.scss */
.navigation .nav li span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 30px;
  color: white;
}
/* line 45, ../scss/helpers/_navigation.scss */
.navigation .nav li:hover ul {
  border-right: 2px solid #009ee0;
}
/* line 51, ../scss/helpers/_navigation.scss */
.navigation .nav li ul {
  border-right: 2px solid white;
  left: auto;
  margin: 0px 15px 0px 0px;
  position: relative;
  top: auto;
  width: auto;
}
/* line 61, ../scss/helpers/_navigation.scss */
.navigation .nav li ul li .nolink, .navigation .nav li ul li a {
  font-size: 14px;
}
/* line 66, ../scss/helpers/_navigation.scss */
.navigation .nav li ul li ul {
  display: block;
  left: auto;
  margin: 0px 15px 0px 0px;
  position: relative;
  top: auto;
  width: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 82, ../scss/helpers/_navigation.scss */
  .navigation {
    height: 100%;
    left: 0%;
    position: static;
    width: 100%;
    line-height: 1;
  }
  /* line 89, ../scss/helpers/_navigation.scss */
  .navigation .nav {
    display: inline-block;
    zoom: 1;
    display: block;
    float: left;
    list-style: none;
  }
  /* line 40, ../scss/helpers/_mixins.scss */
  .navigation .nav:after {
    height: 0;
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
  }
  /* line 95, ../scss/helpers/_navigation.scss */
  .navigation .nav li {
    background-color: transparent;
    float: left;
    position: relative;
    clear: none;
  }
  /* line 101, ../scss/helpers/_navigation.scss */
  .navigation .nav li .nolink, .navigation .nav li a {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
    border-left: 0px;
    border-top: 2px solid transparent;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    padding: 21px 20px 23px 20px;
    white-space: nowrap;
  }
  /* line 114, ../scss/helpers/_navigation.scss */
  .navigation .nav li .nolink:hover, .navigation .nav li a:hover {
    background-color: #0063a9;
    border-top: 2px solid #009ee0;
    color: white;
    text-decoration: none;
  }
  /* line 121, ../scss/helpers/_navigation.scss */
  .navigation .nav li .nolink.active, .navigation .nav li a.active {
    border-top: 2px solid white;
  }
  /* line 129, ../scss/helpers/_navigation.scss */
  .navigation .nav li.menuparent > .nolink, .navigation .nav li.menuparent > a {
    background-image: url("../img/arrow-bottom-black.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 11px 8px;
    padding-right: 25px;
  }
  /* line 141, ../scss/helpers/_navigation.scss */
  .navigation .nav li.menuparent li.menuparent > .nolink, .navigation .nav li.menuparent li.menuparent > a {
    background-image: url("../img/arrow-right-white.png");
    background-size: 8px 11px;
  }
  /* line 150, ../scss/helpers/_navigation.scss */
  .navigation .nav li:hover > ul {
    visibility: visible;
  }
  /* line 153, ../scss/helpers/_navigation.scss */
  .navigation .nav li:hover > .nolink, .navigation .nav li:hover > a {
    background-color: #0063a9;
    border-top: 2px solid #009ee0;
    color: white;
    text-decoration: none;
  }
  /* line 159, ../scss/helpers/_navigation.scss */
  .navigation .nav li:hover > .nolink.menuparent, .navigation .nav li:hover > a.menuparent {
    background-image: url("../img/arrow-bottom-white.png");
  }
  /* line 165, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul {
    background-image: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #0063a9;
    margin: 62px 0px 0px 0px;
    position: absolute;
    padding: 0px;
    top: 0px;
    visibility: hidden;
    width: 220px;
    z-index: 999;
  }
  /* line 175, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul li {
    float: none;
    display: block;
    min-width: 100%;
  }
  /* line 176, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul li .nolink, .navigation .nav li ul li a {
    -moz-transition: background-color 0.1s ease-in, padding-left 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in, padding-left 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in, padding-left 0.1s ease-in;
    transition: background-color 0.1s ease-in, padding-left 0.1s ease-in;
    border-top: 0px !important;
    color: white !important;
    display: block;
    font-size: 14px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  /* line 186, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul li .nolink.menuparent, .navigation .nav li ul li a.menuparent {
    background-image: url("../img/arrow-right-white.png");
    background-position: 90%;
    background-size: 8px 11px;
    background-repeat: no-repeat;
  }
  /* line 192, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul li .nolink.menuparent:hover, .navigation .nav li ul li a.menuparent:hover {
    background-image: url("../img/arrow-right-white.png");
    background-size: 8px 11px;
  }
  /* line 198, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul li .nolink:hover, .navigation .nav li ul li a:hover {
    background-color: #02344a;
    padding-left: 25px;
  }
  /* line 204, ../scss/helpers/_navigation.scss */
  .navigation .nav li ul li ul {
    left: 218px !important;
    border-right: 0 none;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 220px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 232, ../scss/helpers/_navigation.scss */
  .navigation .nav li.menuparent > .nolink, .navigation .nav li.menuparent > a {
    padding-right: 40px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 253, ../scss/helpers/_navigation.scss */
  .navigation .nav li.menuparent > .nolink, .navigation .nav li.menuparent > a {
    padding-right: 50px;
  }
}
/*
hero.jpg            # The base image (mobile)
hero.2x.jpg         # For mobile high-res devices
hero.medium.jpg     # For a tablet-sized screen
hero.medium.2x.jpg  # High-res tablets
hero.large.jpg      # Desktops
hero.large.2x.jpg   # High-res desktops
*/
/*

http://preview.effekthemes.com/focus
http://aetherthemes.com/demo/visia/
http://themeforest.net/item/superb-responsive-onepage-portfolio/full_screen_preview/5801938
*/
