// Compass import.
@import 'compass/css3/background-clip';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';

@import 'compass';

// Helper.
@import "helpers/sassmatic.scss";

@import 'helpers/mixins';

//@import 'helpers/forms';
@import 'helpers/elements';

@import 'helpers/breadcrumb';

@import 'helpers/header';

//@import 'helpers/not_found';
//@import 'helpers/slider';
@import 'helpers/navigation';
//@import 'helpers/carousel';
//@import 'helpers/map';
//@import 'helpers/bottom';
@import 'helpers/footer';

@import 'helpers/agents';

$font-family-default: 'Open Sans', 'Arial', sans-serif;

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

.btn { -webkit-font-smoothing: antialiased; @include background-image(none); @include border-radius(0px); @include box-shadow(none); @include text-shadow(none); border: 0px; padding: 7px 15px 7px 15px; font-weight: normal; 
  &.btn-primary { @include transition(background-color .2s ease-in); background-color: $blue;
    &.arrow-right { background-image: url('../img/arrow-right-white.png'); background-position: 90% center; background-repeat: no-repeat; background-size: 8px 11px; padding-right: 30px;
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        background-image: url('../img/arrow-right-white@2x.png');
      }
    }
    &:hover { background-color: darken($blue, 10%); }
  }
  &.btn-large { padding: 11px 19px; 
    &.arrow-right { padding-right: 50px; }
  }
}

html { height: 100%; }
body {
  -webkit-font-smoothing: antialiased;
  background-color: $gray-lighter;
  color: $gray;
  font-family: $font-family-default;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  a {
    @include transition(color .1s ease-in);
    color: $blue;
    &:hover {
      color: darken($blue, 10%);
      text-decoration: underline;
    }
  }
  p {
    line-height: 20px;
    &.content-icon-spacing { padding-left: 55px; }
  }
  hr {
    &.dotted {
      background-image: url('../img/border-gray.png');
      background-position: left center;
      background-repeat: no-repeat;
      border: 0px;
      height: 1px;
    }
  }
  ul {
    &.dotted {
      li { color: $blue-dark; list-style-position: outside; list-style-type: disc; margin-left: 20px;
        .inner { color: $black;
          strong { color: $black-dark; }
        }
      }
    }
  }
  #wrapper-outer { height: 100%;
    #wrapper { @include transition(left .3s ease-in); display: table; height: 100%; position: relative; width: 100%;
      #wrapper-inner { display: table-row; height: 100%; }
      #footer-wrapper { display: table-row; height: 1px; }
    }
  }
}

@media(min-width: 980px) {
  body {
    padding-top: 0px;
  }
}

@media (max-width: 979px) {
  body {
    &.nav-open {
      #wrapper-outer { overflow-x: hidden;
        #wrapper {  left: 70%; }
      }
    }
  }
}
#content { padding-bottom: 30px; }

@media (max-width: 767px) {
  #content { 
    #main {
      padding-left: 20px; padding-right: 20px;
    }
  }
}

h1.page-header,
h2.page-header { border: 0px; color: $blue-dark; font-size: 30px; font-weight: 300; line-height: 40px; margin: 20px 0px; padding: 0px; }
h2 { color: $blue-dark; font-size: 24px; font-weight: lighter; margin: 20px 0px; }
h3 { color: $blue-dark; font-size: 18px; font-weight: normal;
  &.address { background-image: url('../img/icons/bubble-address.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
  &.call-us { background-image: url('../img/icons/bubble-call-us.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
  &.email { background-image: url('../img/icons/bubble-email.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    &.address { background-image: url('../img/icons/bubble-address@2x.png'); }
    &.call-us { background-image: url('../img/icons/bubble-call-us@2x.png'); }
    &.email { background-image: url('../img/icons/bubble-email@2x.png'); }
  }
}

@media (max-width: 767px) {
  h1.page-header, h2.page-header { font-size: 24px; }
  h2 { font-size: 24px; }
}


