@import 'colors/color';
@import 'structure';


//http://corner.squareup.com/2013/08/responsive-images-with-apropos.html
/*
hero.jpg            # The base image (mobile)
hero.2x.jpg         # For mobile high-res devices
hero.medium.jpg     # For a tablet-sized screen
hero.medium.2x.jpg  # High-res tablets
hero.large.jpg      # Desktops
hero.large.2x.jpg   # High-res desktops
*/

/*

http://preview.effekthemes.com/focus
http://aetherthemes.com/demo/visia/
http://themeforest.net/item/superb-responsive-onepage-portfolio/full_screen_preview/5801938

*/