.breadcrumb-wrapper {
  background-color: $breadcrumb-background-color;
  border-bottom: 1px solid transparent;
  .breadcrumb { @include border-radius(0px); background-color: transparent; margin: 0px; padding: 0px;
    li { @include text-shadow(none); color: $breadcrumb-text-color; font-size: 12px;
      a { @include text-shadow(none); color: $breadcrumb-link-color; display: inline-block; padding: 3px 5px; }
      .divider { @include text-shadow(none); color: $breadcrumb-text-color; }
    }
  }
  .account {
    ul { margin: 0px;
      li {
        a { @include border-radius(0px); border-right: 1px solid $breadcrumb-text-color; color: $breadcrumb-text-color; font-size: 12px; margin-top: 6px; padding-bottom: 0px; padding-top: 0px;
          &:hover { background-color: transparent; text-decoration: underline; }
        }
        &:last-child {
          a { border-right: 0px; }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .breadcrumb-wrapper { padding-left: 20px; padding-right: 20px;
    .breadcrumb {
      li {
        &:first-child {
          a { padding-left: 0px; }
        }
      }
    }
  }
}