/* Extra small devices (phones, less than 768px) */
#header-wrapper {
  background-color: $header-background-color;
  .navbar {
    margin: 0px;
    .navbar-inner {
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      @include background-image(none);
      @include border-radius(0px);
      @include box-shadow(none);
      background-color: transparent;
      border: 0px;
      height: 90px;
      padding: 0px;

      .logo-wrapper {
        #btn-nav {
          float:left;
          background-image: url('../img/btn-nav.png');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 35px 35px;
          height: 35px;
          margin-top: 30px;
          margin-right: 10px;
          text-indent: -9999px;
          width: 35px;
        }

        .logo {
          float:left;
          height: 90px;
          margin: 0px 15px 0px 0px;
          line-height: 90px;
        }

        .site-slogan {
          color: $header-slogan-color;
          margin-top: 30px;
          margin-left: 15px;
          span {
            border-left: 2px solid $header-slogan-border-color;
            display: inline-block;
            line-height: 18px;
            padding-left: 15px;
          }
        }
      }

      .info-wrapper {
        padding-top: 12px;
        .info-phone {
          line-height: 30px;
          span {
            background-image: url('../img/icons/phone-gray.png');
            background-position: left center; background-repeat: no-repeat;
            background-size: 20px 20px;
            color: $header-info-color;
            font-size: 18px;
            font-weight: 500;
            padding-left: 30px;
          }
        }

        .info-email {
          line-height: 30px;
          a {
            background-image: url('../img/icons/mail-gray.png');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 17px 11px;
            color: $header-info-color;
            font-size: 18px;
            font-weight: 500;
            padding-left: 30px;
            text-decoration: none;
          }
        }
      }

      .extra-wrapper {
        padding-top: 25px;
      }

    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  #header-wrapper {
    #btn-nav {
      background-image: url('../img/btn-nav@2x.png');
    }
    .site-phone {
      span { background-image:url('../img/icons/phone-gray@2x.png'); }
    }
    .site-email {
      a { background-image: url('../img/icons/mail-gray@2x.png'); }
    }
  }
}
