/**
 * @file
 * Layout elements.
 */

body {
  &.nav-open {
    #wrapper-outer {
      overflow-x: hidden;
      #wrapper {
        left: 70%;
      }
    }
  }
}

#wrapper-outer {
  #wrapper {
    position: relative;
  }
}
