/* Extra small devices (phones, less than 768px) */
.bottom-wrapper {
  background-color: $white;
  margin-bottom: -30px;
  padding: 30px 0px;
  text-align: center;

  .decoration {
    @include border-radius(50%);
    @include transition(background-position .2s ease-in, border-color .2s ease-in, background-color .2s ease-in);
    background-color: $gray-lighter;
    background-position: center bottom;
    background-repeat: no-repeat;
    border: 6px solid $white;
    margin: 30px auto 30px auto;
    width: 180px;
    height: 180px;
  }

  .personal {
    background-image: url('../img/call-to-action/personal.png');
  }

  .profesionnal {
    background-image: url('../img/call-to-action/profesionnal.png');
  }

  .enterprise {
    background-image: url('../img/call-to-action/enterprise.png');
  }

  .item {

    h2 {
      font-size: 30px;
      margin: 0px 0px 20px 0px;
      a {
        color: $blue!important;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }   
    }

    p { margin: 0px 0px 30px 0px; }

    &:hover {
      .enterprise, .profesionnal, .personal {
        background-color: $blue;
        background-position: center top;
        border-color: $blue-light;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  #header-wrapper {
    #btn-nav {
      background-image: url('../img/btn-nav@2x.png');
    }
    .site-phone {
      span { background-image:url('../img/icons/phone-gray@2x.png'); }
    }
    .site-email {
      a { background-image: url('../img/icons/mail-gray@2x.png'); }
    }
  }
}
