.call-to-action-wrapper {
  background: $blue;
  boder-left: 0;
  boder-right: 0;
  border-top: 2px solid $blue-darker;
  border-bottom: 1px solid $blue-light;
  padding: 30px 0;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $green;
    margin-top: 0px;
  }

  a {
    background-color: $green!important;
  }

  strong {
    font-size: 30px;
  }

  // Arrows.
  span.arrow {
    background: transparent url(../img/arrows/arrows.png) no-repeat 0 0;
    width: 47px;
    height: 120px;
    display: inline-block;
    position: relative;
  }

  span.arrow.hl {
    background-position: -209px 0;
    width: 120px;
    height: 47px;
  }

  span.arrow.hlb {
    background-position: -209px -101px;
    width: 120px;
    height: 47px;
  }

}
