/* Extra small devices (phones, less than 768px) */

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $gray-lighter;
  color: $gray-dark;
  font-family: $font-family-default;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;

  h1,h2,h3,h4 {
    color: $blue-dark;
  }

  a {
    @include transition(color .1s ease-in);
    color: $blue;
    &:hover {
      color: darken($blue, 10%);
      text-decoration: underline;
    }
  }

  p {
    line-height: 20px;
    &.content-icon-spacing { padding-left: 55px; }
  }

  hr {
    &.dotted {
      background-image: url('../img/border-gray.png');
      background-position: left center;
      background-repeat: no-repeat;
      border: 0px;
      height: 1px;
    }
  }

  ul {
    &.dotted {
      li { color: $blue-dark; list-style-position: outside; list-style-type: disc; margin-left: 20px;
        .inner { color: $black;
          strong { color: $black-dark; }
        }
      }
    }
  }

  // Responsive images.
  img {
    max-width: 100%;
  }

  // Alternative Font Style.
  .alternative-font {
    font-family: $font-family-alternative;
  }

  // Buttons.
  .btn {
    @include buttonize($blue);
  }

  #wrapper-outer { height: 100%;
    #wrapper { @include transition(left .3s ease-in); display: table; height: 100%; position: relative; width: 100%;
      #wrapper-inner { display: table-row; height: 100%; }
      #footer-wrapper { display: table-row; height: 1px; }
    }
  }
}

@media(min-width: 980px) {
  body {
    padding-top: 0px;
  }
}

@media (max-width: 979px) {
  body {
    &.nav-open {
      #wrapper-outer { overflow-x: hidden;
        #wrapper {  left: 70%; }
      }
    }
  }
}
#content { padding-bottom: 30px; }

@media (max-width: 767px) {
  #content {
    #main {
      padding-left: 20px; padding-right: 20px;
    }
  }
}

@media (max-width: 767px) {
  h1.page-header, h2.page-header { font-size: 24px; }
  h2 { font-size: 24px; }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
}



