/* Extra small devices (phones, less than 768px) */
div.google-map {
  background: #E5E3DF;
  height: 250px;
  margin: 0px 0 0px 0;
  width: 100%;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
