/* Section Highlight */
section.highlight {
  background: $blue;
  boder-left: 0;
  boder-right: 0;
  border-top: 2px solid $blue-darker;
  padding: 40px 0;

  div.counters strong {
    display: block;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: $white;
  }

  div.counters label {
    display: block;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    color: $white;
  }

  > p,
  > a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }

}
