/* Extra small devices (phones, less than 768px) */
#highlight-wrapper {
  background: $blue;
  boder-left: 0;
  boder-right: 0;
  border-top: 2px solid $blue-darker;
  border-bottom: 1px solid $blue-light;
  padding: 40px 0;

  .counters strong {
    display: block;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: $white;
  }

  .counters label {
    display: block;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    color: $white;
  }

  > p,
  > a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
}
