$black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue-lighter: #05F0FF;
$blue-light: #009ee0; // logo light
$blue: #0063a9; // logo main
$blue-dark: #004E94;
$blue-darker: #02293a;

$gray-dark: #818181;
$gray-medium: #d5d5d5;
$gray: #707070;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;

$white: #ffffff;

$orange: #f29400;
$green: #8ebc11;
